$fSize: 0.85vw;

@font-face {
  //source: https://fontlibrary.org/en/font/minecraftia
  font-family: 'Minecraft';
  src: url('../resources/Minecraftia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}